body {
    display: flex;
    justify-content: center;
}

.wrapper {
    height: max-content;
}

.textarea {
    width: 644px;
    height: 15vw;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    resize: none;
    margin-top: 3vw;
}
.keyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 667px;
    height: 14vw;
}
.key {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control {
    width: 50px;
}
.middle {
    width: 80px;
}
.space {
    width: 290px;
}
.delete, .metaleft, .altleft, .altright {
    width: 40px;
}