body {
    display: flex;
    justify-content: center;
    background-color: #ccc;
}

.wrapper {
    height: max-content;
}

.textarea {
    width: 673px;
    height: 12vw;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    resize: none;
    margin-top: 2vw;
}
.keyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 667px;
    height: 14vw;
    background-color: rgb(92, 72, 72);
    padding: 15px;
    border-radius: 20px;
}
.key {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(36, 27, 27);
    color: white;
    font-style: normal;
    box-shadow: 1px 1px 1px; 
}
.control {
    width: 50px;
}
.middle {
    width: 80px;
}
.space {
    width: 290px;
}
.delete, .metaleft, .altleft, .altright {
    width: 40px;
}
.active {
    background-color: rgb(136, 119, 119);
    box-shadow: inset 0 0 0;
    transition: 0.1s ease-in;
    transform: scaleX(0.98) translateX(2px);
}
.hint {
    height: 30px;
    padding-top: 15px;
    text-align: center;
}